# Python
**/__pycache__/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
env/
ENV/
.env
.venv

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
*~

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.pytest_cache/

# Git submodules
.gitmodules

# Folders
smolagents_demo/
data/
alfred_chroma_db/

# Media files
**/*.jpg
**/*.jpeg
**/*.png
**/*.gif
**/*.bmp
**/*.svg
**/*.ico
**/*.mp4
**/*.mov
**/*.avi
**/*.wmv
**/*.mp3
**/*.wav
**/*.m4a
**/*.flac
**/*.pdf
**/*.doc
**/*.docx
**/*.ppt
**/*.pptx
**/*.xls
**/*.xlsx